* {
  font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.coding{
display: flex;
flex-direction: column;
}

.opciones{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-weight: 400;
 width: 450px;
}

.emblema{
width: 120px;
height: auto;
padding: 0px;
}

.codigo{
  font-weight: 500;
}

input.codi{
  padding: 0px 5px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid white 2px;
  background: none;
  color: white;
  font-weight: 600;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  color: white;
  font-weight: 500;
}
input:-moz-placeholder {
  font-size: 16px;
  color: white;
  font-weight: 500;
}
input:-ms-input-placeholder {
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.textbtn{
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}


button{
  background: #0081c6;
  border-radius: 5px;
  border: none;
  width: 200px;
  padding: 8px ;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover{
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

[type="checkbox"]{display:none;}

.opcions{
  /*background: rgba(0, 0, 0, 0.1);*/
  padding: 0px 15px 0px 0px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.opcions:before{
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 4px;
}

.recor:checked + .opcions:before{
background: white;
}

.codi:hover,.codi:focus,.codi:active{
  outline: 0;
  background: rgba(0, 0, 0, 0.1);
}
