* {
  font-family: 'Montserrat', sans-serif;

}

body{
  background:white;
  margin: 0px;
  padding: 0px;
}

header{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: white;
  position: fixed;
  width: 100%;
}

nav.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
}

.btn-menu{
  display: none;
}

div.elements{
  display: flex;

}

ul{
  display: flex;

}

li{
  list-style: none;
  padding: 0px 15px 0px 15px;

}

li:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.escala{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

a{
  color: #414040;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

/*.line{
  border: solid grey 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}*/

/*a:hover{
  background: linear-gradient(180deg, #E0C3FC 0%, #8EC5FC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8EC5FC;
}*/

.txt{
  background: linear-gradient(180deg, #E0C3FC 0%, #8EC5FC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8EC5FC;
}

/*Efectos menu*/

.headroom {
  transition: transform .3s ease;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

@media screen and (max-width: 820px){

  nav.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  div.elements{
    display: flex;

  }

  ul{
    display: flex;
    flex-direction: column;

  }

  li{
    list-style: none;
    padding: 2px 0px 2px 0px;
  }

  .logodiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

  .btn-menu{
    display: inline-block;
    padding: 0px 10px 0px 0px;
  }


}
