<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1">
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  </head>
  <body>
    <div class="container">

      <form class="login" method="post">
        {% csrf_token %}
      <img class="emblema" src="{% static "imagenes/eres.png" %}" alt="">

      <div class="coding">
         <label for="psw"><b class="codigo">Ingrese el codigo de acceso</b></label>
        {{ form.codigo }}
        {{ form.codigo.errors }}
        <br><br><br>
<label for="psw"><b class="codigo">El codigo de acceso se obtiene con su coodirnador</b></label>

      </div>



  <!--    <input class="session" type="submit" value="Iniciar Sesion">-->
 <button class="session" type="submit"><p class="textbtn">Ingresar</p></button>

      <div class="opciones">

      <a href="{% url "registro" %}">  <label class="opcions1">Registrarme</label></a>

        <label class="opcions1"><a href="#">¿Olvide mi contraseña?</a></label>
      </div>
    </form>
    </div>

  </body>
</html>
