<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>carga</title>
    <link rel="stylesheet" href="css/carga.css">
  </head>
  <body>
    <article class="container">
  <div class="background">
    <div class="left">
      <div class="image"></div>
      <div class="mask thick"></div>
    </div>
    <div class="right">
      <div class="bar"></div>
      <div class="mask thick"></div>
      <div class="bar"></div>
      <div class="mask thin"></div>
      <div class="bar medium"></div>
      <div class="mask thick"></div>
      <div class="bar small"></div>
    </div>
  </div>
</article>
  </body>
</html>
