<head>
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static "css/footer.css" %}">
</head>
<footer class="parallax" id="seccion6" >
        <div class="footer">
        <div class="div-imagen-footer">
            <img class="imagen-footer" src="{% static "/imagenes/Royal_Rangers.svg.png" %}" alt="">
            <div class="rayita"><p>El Salvador</p></div>
        </div>
        <div class="div-powerby-footer">
            <p>Power By:</p>
            <p>Los Pros</p>
        </div>
        <div class="div-iconos-footer">
           <a href="#"><i class="fab fa-facebook iconos-footer"></i></a> 
           <a href="#"><i class="fab fa-youtube iconos-footer"></i></a> 
           <a href="#"></a><i class="fab fa-twitter iconos-footer"></i></a> 
        </div>
        </div>
    </footer>