<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>info</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/informacion.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
  </head>
  <body>
    <div class="contenedor">
      <div class="informacion">
        <div class="primero">
          <h2>¿Qué es Exploradores del Rey?</h2>
          <p class="txt_primero">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id porta quam.
            Nullam est magna, lacinia ut dignissim eget, feugiat sed metus. Sed at purus leo.
            Praesent nisl dui, accumsan quis finibus eu, maximus a tortor. Phasellus iaculis scelerisque suscipit.
            Suspendisse volutpat quam et est elementum egestas.</p>
        </div>
      </div>
    </div>
  </body>
</html>
