<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inscripción</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
       {% load static from staticfiles %}
    
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/inscripcion.css" %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/titular.css" %}" />
    <link rel="stylesheet" href="{% static "css/menu1.css" %}">

    <script src="{% static "js/all.min.js" %}"></script>
</head>
<body>
    
        {% include "menuperfil.html" %}

    <div class="contenedor">
        <div class="titular">
            <div class="nombre-destacamento">
                <p class="nombresito">Exploradores Del Rey El Salvador</p>
            </div>
            <div class="foto-destacamento">
                <img class="fotito" src="static/imagenes/Royal_Rangers.svg.png" alt="">
            </div>
        </div>

        <!--<p class="titulo-solicitud">Solicitud de Inscripción Nacional</p>-->

        <div class="info-destacamento" >
            <div class="div-info">
                <div class="datos-inscripcion">DATOS DE INSCRIPCIÓN</div>
                <div class="div-datos">
                    <p class="titulo-dato">Destacamento:</p>
                    <p class="dato">{{destacamento.nombre}}</p>
                </div>
                <div class="div-datos">
                    <p class="titulo-dato">Código:</p>
                    <p class="dato">{{destacamento.codigo}}</p>
                </div>
                <div class="div-datos">
                    <p class="titulo-dato">Iglesia:</p>
                    <p class="dato">{{destacamento.iglesia}}</p>
                </div>
                <div class="div-datos">
                    <p class="titulo-dato">Pastor:</p>
                    <p class="dato">{{destacamento.pastor}}</p>
                </div>
                <div class="div-datos">
                    <p class="titulo-dato">Tel. Pastor:</p>
                    <p class="dato">{{destacamento.tel_pastor}}</p>
                </div>
                <div class="div-datos">
                    <p class="titulo-dato">Comandante Mayor:</p>
                    <p class="dato">{{destacamento.comandante_mayor}}</p>
                </div>  
                <div class="div-datos">
                        <p class="titulo-dato">Tel. Comandante:</p>
                        <p class="dato">{{destacamento.tel_comandante}}</p>
                    </div>
                <div class="div-datos">
                    <p class="titulo-dato">Zona:</p>
                    <p class="dato">{{destacamento.zona}}</p>
                </div>  
                <div class="div-datos">
                    <p class="titulo-dato">Distrito:</p>
                    <p class="dato">{{destacamento.direccion}}</p>
                </div>   
            </div>

            <div class="div-info">
                    <div class="datos-inscripcion">DATOS lideres</div>   

                    {% for l in Lider %}

                    <div class="div-lideres">
                        <div class="datos-lideres">        
                            <p class="titulo-dato">Nombre Completo:</p>
                            <p class="dato">{{l.nombre}}</p>
                        </div>
                        <div class="datos-lideres">        
                            <p class="titulo-dato">Cargo:</p>
                            <p class="dato">El Castigador de Destacamento</p>
                        </div>
                        <div class="datos-lideres">        
                             <p class="titulo-dato">Tel:</p>
                            <p class="dato">24370850</p>
                        </div>
                    </div>

                    {% endfor %}
                
            </div>
            <div class="div-info">
                <div class="datos-inscripcion">Detalles de Inscripción</div>
                <div class="div-lideres">
                    <div class="datos-departamentos">  
                        <p class="titulo-dato">Navegantes:</p>
                        <div class="otrodiv">
                            <p class="dato">{{navegantes}}</p>
                            <p class="igual">=</p>
                            <p class="dato">${{navegantes|floatformat:2}}</p>
                        </div>      
                    </div>
                </div>
                <div class="div-lideres">
                    <div class="datos-departamentos">  
                        <p class="titulo-dato">Pioneros:</p>
                        <div class="otrodiv">
                            <p class="dato">{{pioneros}}</p>
                            <p class="igual">=</p>
                            <p class="dato">${{pioneros|floatformat:2}}</p>
                        </div>      
                    </div>
                </div>
                <div class="div-lideres">
                    <div class="datos-departamentos">  
                        <p class="titulo-dato">Seguidores:</p>
                        <div class="otrodiv">
                            <p class="dato">{{seguidores}}</p>
                            <p class="igual">=</p>
                            <p class="dato">${{seguidores|floatformat:2}}</p>
                        </div>      
                    </div>
                </div>
             
                <div class="div-lideres">
                    <div class="datos-departamentos">  
                        <p class="titulo-dato">Exploradores:</p>
                        <div class="otrodiv">
                            <p class="dato">{{exploradores}}</p>
                            <p class="igual">=</p>
                            <p class="dato">${{exploradores|floatformat:2}}</p>
                        </div>      
                    </div>
                </div>
                <div class="div-lideres">
                    <div class="datos-departamentos">  
                        <p class="titulo-dato">Lideres:</p>
                        <div class="otrodiv">
                            <p class="dato">{{lideres}}</p>
                            <p class="igual">=</p>
                            <p class="dato">${{tlideres|floatformat:2}}</p>
                        </div>      
                    </div>
                </div>
                <div class="div-lideres">
                    <div class="datos-departamentos">  
                        <p class="titulo-dato">Consejeros:</p>
                        <div class="otrodiv">
                            <p class="dato">1</p>
                            <p class="igual">=</p>
                            <p class="dato">$1.00 </p>
                        </div>      
                    </div>
                </div>
                
            </div>  
        </div>

    </div>

</body>
</html>