<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

      {% load static from staticfiles %}
    <script src="{% static "js/all.min.js" %}"></script>
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/landing1.js" %}"></script>

    <style>
        .encabezado{
    width: 96%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #46cdcf;
    /*margin-bottom: 10px;*/
    color: white;
    font-size: 18px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url("{% static "imagenes/camuflaje.jpg"%}");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-color:#0081c6;
    background-size: cover;
}


    </style>

<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/landing1.css" %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/modal.css" %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/nuevamodal.css" %}" />
<link rel="stylesheet" href="{% static "css/menu1.css" %}">

</head>
<body>
        {% include "menuperfil.html" %}
        <div class="todo">

            <form class="modal1" method = "post" enctype="multipart/form-data" >
            {% csrf_token %}
                <div class="ventana1">
                    <div class="cerrar1"><i style="cursor: pointer;" class="far fa-times-circle"></i></div>
                    <div class="wrap">
                        <ul class="tablas">
                            <li><a class="tab1" href="#tab1"><span class="spanm"><i class="fas fa-edit"></i><p>Publicación</p></span></a></li>
                        </ul>
                        <div class="secciones">
                            <article id="tab1">
                              <!--  <textarea name="" id="inputpubli1" placeholder="Escribe cualquier evento o noticia de Exploradores del Rey..."></textarea>-->
                              {{form.descripcion}}
                            </article>
                            <article id="tab2">
                                    <textarea name="" id="inputpubli2" placeholder="Agrega un descripción a tu foto..."></textarea>
                            </article>
                        </div>
                        <div class="divcito">
                         <!--  {{form.foto}}-->
                        
                                
                                <div class='div-file'>
                                <p>Imagen<i style="padding-left: 4px;" class="fas fa-file-image"></i></p>
                               <!-- <input style="opacity:0;" type='file' id='subir-imagen'>-->
                               {{form.foto}}
                                </div>
                        
                            <!--<button type="submit" class="botoncito">Imagen<i style="padding-left: 4px;" class="fas fa-file-image"></i></button>-->

                            <button class="botoncito">Publicar<i style="padding-left: 4px;" class="fab fa-telegram-plane"></i>
                        </div>
                    </div>
                </div>
            </form>

            <div class="div-publicaciones">
                <div class="nuevapublicacion">
                <button class="nueva">Nueva Publicación</button>
                </div>
              

                
                
                {% for e in eve %}

                  <div id="mod{{e.id}}" class="modal">
                 
                    <div class="ventana">
                        <div id="cerrar{{e.id}}" class="cerrar"><i style="cursor: pointer;" class="far fa-times-circle"></i></div>
                
                    <div id="zonacom{{e.id}}" class="modal-comentario">
                            {% for c in e.comentarios %}
                         
                            
                        
                                <div class="comentario-indi" >
                                    <div class="comentario-foto" style="background-image:url({{c.user.foto.url}})"></div>
                                    <div class="comentario-texto">
                                        <div class="nombre-comentario">{{c.user}}</div>
                                        <p>{{c.texto}}</p>
                                    </div>
                                </div>
                            

                            {% endfor %}
                    </div> 


                        <div class="agregar-comentario">
                                <textarea  id="comen{{e.id}}" placeholder="Agregar comentario...">veamos</textarea>
                                <div class="div-agregar"><button id="envi{{e.id}}" class="agregar"><i class="fab fa-telegram-plane"></i></button></div>
                        </div> 
                    </div>
                    
                </div>



                <div class="publicacion">
                    <div class="foto-nombre">
                        <p class="fecha">{{ e.fecha|date:"d b"}} a las {{e.tiempo}}</p>
                        <div class="necesario">
                             <p class="nombreperfil">{{e.user}}</p> 
                            <div class="fotoperfil" style="background-image:url({{e.user.foto.url}})"></div>
                        </div>
                    </div>
                    <div class="descripcion-foto">
                           {% if e.descripcion %}
                            <p>{{e.descripcion | linebreaksbr }}</p>
                           {% endif %}
                        </div>
                    
                        <div class="contenido-foto">
                            <!--<img src="{% static "imagenes/bosque0.jpg" %}" alt="">-->
                            {% if e.foto %}
                                 <img id="visor"  src ="{{ e.foto.url }}">
                            {% endif %}
                        </div>
                    
                    <div class="div-comentarios">
                        <div class="iconos-comentarios">
                            <div class="div-iconos">
                                <i id="estrella" class="far fa-star iconos color-estrella"></i>
                                <p>{{eve.favoritos}}</p>
                            </div>
                            <div class="div-iconos">
                                    <a id="abrir{{e.id}}" ><i class="far fa-comment iconos color-comentario"></i></a> 
                                    <p>{{eve.comentarios}}</p>
                                </div>
                        </div>
                        <textarea id="add{{e.id}}" value="hola como estan" placeholder="Agregar comentario..." class="comentario" type="text"></textarea>
                    </div>
                    <div id="comentarios{{e.id}}" class="coments">


                        {% for c in e.comentarios %}

                        <div class="comentario-indi1" >
                            <div class="comentario-texto1">
                                    <div class="nombre-comentario1">
                                        <p class="nombreusuario">{{c.user}}</p>
                                        <p class="fecha">hoy a las 20</p>
                                    </div>
                                <p class="txt">{{c.texto}}</p>
                            </div>
                        </div>

                        {% endfor %}
                 


                 
                        <div class="vermas">
                            <p>Ver Más</p>
                        </div>    
                    </div>
                </div>

                {% endfor %}

                
            </div>
            <div class="div-noticias">
                <div class="encabezado" id="boton" >
                    <p class="margenes"><i class="fas fa-newspaper margenes"></i>NOTICIAS</p>
                    <i id="icono" class="fas fa-angle-down"></i>
                </div>
                <div class="temporal" id="noticias">
                <div class="publicacion">
                    <div class="foto-nombre">
                        <p class="nombreperfil">Eduardo Enrique Granados</p>
                        <div class="fotoperfil" style="background-image:url({% static "imagenes/foto-txt.jpg" %})"></div>
                    </div>
                    <div class="contenido-texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non et id sit alias eius accusantium magnam sint maiores dignissimos esse quo sapiente nesciunt quos necessitatibus deserunt odit, quasi omnis quod!</p>
                    </div>
                    <div class="div-comentarios">
                        <div class="iconos-comentarios">
                            <div class="div-iconos">
                                <i class="far fa-star iconos color-estrella"></i>
                                <p>123</p>
                            </div>
                            <div class="div-iconos">
                                    <i class="far fa-comment iconos color-comentario"></i>
                                    <p>123</p>
                                </div>
                        </div>
                        <textarea placeholder="Agregar comentario..." class="comentario" type="text"></textarea>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>    

    <div class="visor">
            <i style="cursor: pointer;" class=" equis far fa-times-circle"></i>
        <div class="visor-imagen">
            <img class="imagen" src="static/imagenes/bosque0.jpg" alt="">
        </div>
    </div>

    <script>

        $(document).ready(function(){


        //modal nueva publicacion

        var abrir2 = $('#visor'),
        modal2 = $('.visor'),
        cerrar2 = $('.equis');

        function abrirmodal2() {
            abrir2.slideDown();
        }

        function cerrarmodal2() {
            abrir2.slideUp('fast');
        }


        abrir2.on('click', function(e){
            abrirmodal2();
        });

        cerrar2.on('click', function(e){
            cerrarmodal2();
        });

                
        //modal

           {% for e in eve %}

           
    var cerrar{{e.id}} = $('#cerrar{{e.id}}'),
    abrir{{e.id}} = $('#abrir{{e.id}}'),
    modal{{e.id}} = $('#mod{{e.id}}');

    abrir{{e.id}}.on('click', function(){
        abrirmodal{{e.id}}();
    });

    cerrar{{e.id}}.on('click', function(){
        cerrarmodal{{e.id}}();
    });

    function abrirmodal{{e.id}}() {
        modal{{e.id}}.slideDown();
    }

    function cerrarmodal{{e.id}}() {
        modal{{e.id}}.slideUp('fast');
    }


    $('#envi{{e.id}}').on('click',mandar{{e.id}});

      function bajar{{e.id}}(){
         $("#zonacom{{e.id}}").animate({ scrollTop: $("#zonacom{{e.id}}").prop('scrollHeight') }, 300);
        }

      function mandar{{e.id}}(){
            console.log("Si ensta entrando a enviar comentario");
            var text1 = $('#comen{{e.id}}').val();
            $('#comen{{e.id}}').val('');

            if (text1.trim() != ""){

              $.ajax({
                  data:{'texto':text1,'p':{{e.id}}},
                  url:'/enviarmajax/',
                  type:'get',
                  success:function(json){
                  var html = JSON.parse(json);
                  console.log("Todo salio perfecto" + html.texto);

                /*  t = "<li class='media'><div class='media-body'>" +
                                          "<div class='media'>" +
                                             " <div class='talk-bubble2 tri-right left-top pull-right' > " +

                                              "<div class='talktext2'> "+
                                              " <p> " + html.texto +
                                                " </p> " +
                                              " </div> " +
                                              "  <br />" +
                                              "  <small style='color: #c48843'>{{user1}}| "+ html.fecha  +" a las " + html.hora +"</small> "+
                                             "</div>" +
                                          "</div>" +
                                       "</div>" +
                                  "  </li>"*/

                 t =   "<div class='comentario-indi' >" +
                                    "<div class='comentario-foto' style='background-image:url({{e.user.foto.url}})'></div>" +
                                    "<div class='comentario-texto'>" +
                                        "<div class='nombre-comentario'>{{c.user}}</div>" +
                                        "<p>" + html.texto + "</p>" +
                                    "</div>" +
                                "</div>"

                t1 =  "<div class='comentario-indi1' >" +
                            "<div class='comentario-texto1'>" +
                                    "<div class='nombre-comentario1'>" +
                                        "<p class='nombreusuario'>{{e.user}}</p>" +
                                        "<p class='fecha'>hoy a las 20</p>" +
                                    "</div>" +
                                "<p class='txt'>" + html.texto + "</p>" +
                            "</div>" +
                        "</div>"
                  $('#comentarios{{e.id}}').append(t1);

                  $('#zonacom{{e.id}}').append(t);

                

                    bajar{{e.id}}();

              }
          });
            }
}

    {% endfor %}
    


         timer1 = setInterval(function(){

           /* if({{id2}}!=0){
              revisarmensajes();
            }*/
            console.log($('#comen'+150).val())

        }, 1000);


    
            
        



          
/*

function revisarmensajes(){

    var text1 = $('#texto').val();


    $.ajax({
        data:{'reseptor':{{id2}},'yo':{{user.id}}},
        url:'/recibirmajax/',
        type:'get',
        success:function(json){
        var html = JSON.parse(json);
        console.log("ya vine de revisar" + html.texto)
     

          var t = html.texto;
          if (t !=""){

            t = "<li class='media'><div class='media-body'>" +
                                    "<div class='media'>"+
                                      " <a class='pull-left' href='#'>" +
                                      {% if im == True %}
                                      " <img class='media-object img-circle' src='{{imagen}}' style='height:auto; width:60px' /> " +
                                      {% else %}
                                      " <img class='media-object img-circle' src='/static/usercsdigitalpred20082017.png' style='height:auto; width:60px' /> " +

                                      {% endif %}
                                       "</a> " +
                                       " <div class='talk-bubble1 tri-left right-top' > " +

                                        "<div class='talktext1'> "+
                                        " <p> " + html.texto +
                                          " </p> " +
                                        " </div> " +
                                        "  <br />" +
                                          "  <small style='color: #45829b'>{{user2}}| "+ html.fecha  +" a las " + html.hora +"</small> "+
                                       "</div>" +
                                    "</div>" +
                                 "</div>" +
                            "  </li>"





                      

              $('#msjt').append(t);

                  bajar();

           

          }



    }
});
}*/



        });

    </script>

</body>
</html>