
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

      {% load static from staticfiles %}


<style>
    body{
    background-image: url("{% static "/imagenes/bosque7.jpg" %}");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: cover;
}
    .contenedor-tarjeta{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-flow: wrap;
    padding: 10px 0px;
    background: rgb(0,0,0,0.5);
    background-image: url("{% static "/imagenes/bosque7.1.jpg" %}");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: cover;
    width: 80%;
    height: 650px;
    overflow-y: scroll;
    margin: 10px 0px;
}

.tuerquita{
   position:absolute;
   z-index:2;
   color:white;
   font-size:22px;
   margin:8px;
}

</style>

<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/lista.css" %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/titular.css" %}" />
<link rel="stylesheet" href="{% static "css/menu1.css" %}">
<script src="{% static "js/all.min.js" %}"></script>

</head>
<body>

        {% include "menuperfil.html" %}

    <div class="contenedor">

        <div class="titular">
            <a href="{% url "editardestacamento" destacamento.id %}" >    <i class="fas fa-cog tuerquita"></i></a>
            <div class="nombre-destacamento">
                <p class="nombresito">{{destacamento.nombre}} {{destacamento.codigo}}</p>
            </div>
            <div class="foto-destacamento">

                {% if destacamento.foto.url != none %}
                <img class="fotito" src="{{destacamento.foto.url}}" alt="">
                {% endif %}
            </div>
        </div>

      <a href="{% url "registroexplorador" destacamento.id %}"> <button class="guardar" type="submit" name="button"><p class="textbtn">Agregar Explorador</p></button></a>
   
     <form method="post" action="{% url "admindestacamento" iddesta %}">
    {% csrf_token %}
      <div class="div-buscador">
       
         
          <input name="tex" id="tex" results="3" placeholder="Buscar un integrante del destacamento..." class="buscador" type="search">
          <button type="submit" class="boton-buscador"><p>Buscar</p><i style="padding-left:4px; " class="fas fa-search"></i></button>
     </div>
     </form>

       {% if lisexplo %}
       <div class="contenedor-tarjeta">

          {% for ex in lisexplo %}

          {% if ex.edad >= 0 and ex.edad <= 7  %}

                {% if ex.activo %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-navegante">
            {% else %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-navegante bloqueado">
                {% endif %}

          
         <div class="div-foto">

             <a href="{% url "infoperfil" ex.id %}"> <div style="background-image: url({{ex.foto}})" class="foto-perfil"></div></a> 
             
             </div>

              <div class="div-datos">
                  <p class="nombre">{{ex.nombre}}</p>
                  <p class="otros">{{ex.direc}}</p>
                  <p class="otros">{{ex.edad}} años</p>
                  <p class="otros">{{ex.codigo}}</p>
              </div>
              <div class="div-grupo">
                <div class="div-botones">
                 <a href="{% url "editarexplorador" iddesta ex.id %}">   <button class="boton-editar" type="button" name="button"><i class="fas fa-user-edit"></i></button></a>
                 <a  href="{% url "permisoeditarexplorador" iddesta ex.id %}">   <button  class="boton-cargo" type="button" name="button"><i  class="fas fa-medal"></i></button></a>

                       {% if ex.activo %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock-open"></i></button>

                        {% else %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock"></i></button>

                        {% endif %}
                      

                </div>
                  <img class="foto-grupo" src="{% static "imagenes/1.png" %}" alt="">
              </div>
          </div>
          {% endif %}
          {% endfor %}

          {% for ex in lisexplo %}
          {% if ex.edad > 7 and ex.edad <= 11  %}


            {% if ex.activo %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-pionero">
            {% else %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-pionero bloqueado">
                {% endif %}

              <div class="div-foto">
              <a href="{% url "infoperfil" ex.id %}"> <div style="background-image: url({{ex.foto}})" class="foto-perfil"></div></a> 
              </div>
              <div class="div-datos">
                  <p class="nombre">{{ex.nombre}}</p>
                  <p class="otros">{{ex.direc}}</p>
                  <p class="otros">{{ex.edad}} años</p>
                  <p class="otros">{{ex.codigo}}</p>
              </div>
              <div class="div-grupo">
                <div class="div-botones">
               <a href="{% url "editarexplorador" iddesta ex.id %}">    <button class="boton-editar" type="button" name="button"><i class="fas fa-user-edit"></i></button></a> 
               <a href="{% url "permisoeditarexplorador" iddesta ex.id %}">   <button class="boton-cargo" type="button" name="button"><i class="fas fa-medal"></i></button></a>
                  
                     {% if ex.activo %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock-open"></i></button>

                        {% else %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock"></i></button>

                        {% endif %}


                </div>
                  <img class="foto-grupo" src="{% static "imagenes/2.png" %}" alt="">
              </div>
          </div>
          {% endif %}
          {% endfor %}

          {% for ex in lisexplo %}
          {% if ex.edad > 11 and ex.edad <= 13  %}



            {% if ex.activo %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-seguidor">
            {% else %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-seguidor bloqueado">
                {% endif %}

              <div class="div-foto">
              <a href="{% url "infoperfil" ex.id %}"> <div style="background-image: url({{ex.foto}})" class="foto-perfil"></div></a> 
              </div>
              <div class="div-datos">
                  <p class="nombre">{{ex.nombre}}</p>
                  <p class="otros">{{ex.direc}}</p>
                  <p class="otros">{{ex.edad}} años</p>
                  <p class="otros">{{ex.codigo}}</p>
              </div>
              <div class="div-grupo">
                <div class="div-botones">
               <a href="{% url "editarexplorador" iddesta ex.id %}">   <button class="boton-editar" type="button" name="button"><i class="fas fa-user-edit"></i></button> </a> 
               <a href="{% url "permisoeditarexplorador" iddesta ex.id %}">   <button class="boton-cargo" type="button" name="button"><i class="fas fa-medal"></i></button></a>
                 
                  {% if ex.activo %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock-open"></i></button>

                        {% else %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock"></i></button>

                        {% endif %}

                
                </div>
                  <img class="foto-grupo" src="{% static "imagenes/3.png" %}" alt="">
              </div>
          </div>
          {% endif %}
          {% endfor %}

          

          {% for ex in lisexplo %}
          {% if ex.edad > 13 and ex.edad <= 17  %}


            {% if ex.activo %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-explorador">
            {% else %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-explorador bloqueado">
                {% endif %}

              <div class="div-foto">
             <a href="{% url "infoperfil" ex.id %}"> <div style="background-image: url({{ex.foto}})" class="foto-perfil"></div></a> 
              </div>
              <div class="div-datos">
                  <p class="nombre">{{ex.nombre}}</p>
                  <p class="otros">{{ex.direc}}</p>
                  <p class="otros">{{ex.edad}} años</p>
                  <p class="otros">{{ex.codigo}}</p>
              </div>
              <div class="div-grupo">
                <div class="div-botones">
              <a href="{% url "editarexplorador" iddesta ex.id %}">     <button class="boton-editar" type="button" name="button"><i class="fas fa-user-edit"></i></button></a> 
              <a href="{% url "permisoeditarexplorador" iddesta ex.id %}">   <button class="boton-cargo" type="button" name="button"><i class="fas fa-medal"></i></button></a>
                
                   {% if ex.activo %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock-open"></i></button>

                        {% else %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock"></i></button>

                        {% endif %}

                
                </div>
                  <img class="foto-grupo" src="{% static "imagenes/4.png" %}" alt="">
              </div>
          </div>
          {% endif %}
          {% endfor %}

          {% for ex in lisexplo %}
          {% if ex.edad > 17  %}

          {% if ex.activo %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-lider">
            {% else %}
            <div id = "{{ex.id}}" class="tarjeta tarjeta-lider bloqueado">
                {% endif %}

              <div class="div-foto">
              <a href="{% url "infoperfil" ex.id %}"> <div style="background-image: url({{ex.foto}})" class="foto-perfil"></div></a> 
              </div>
              <div class="div-datos">
                  <p class="nombre">{{ex.nombre}}</p>
                  <p class="otros">{{ex.direc}}</p>
                  <p class="otros">{{ex.edad}} años</p>
                  <p class="otros">{{ex.codigo}}</p>
              </div>
              <div class="div-grupo">
                  <div class="div-botones">
                  <a href="{% url "editarexplorador" iddesta ex.id %}">   <button class="boton-editar" type="button" name="button"><i class="fas fa-user-edit"></i></button></a> 
                  <a href="{% url "permisoeditarexplorador" iddesta ex.id %}">   <button class="boton-cargo" type="button" name="button"><i class="fas fa-medal"></i></button></a>
                 
                    {% if ex.activo %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock-open"></i></button>

                        {% else %}
                         <button id="block{{ex.id}}" value='{{ex.id}}' class="boton-suspender" type="button" name="button"><i id="candado{{ex.id}}" class="fas fa-lock"></i></button>

                        {% endif %}

                 
                  </div>
                  <img class="foto-grupo" src="{% static "imagenes/Royal_Rangers.svg.png" %}" alt="">
              </div>

          </div>
          {% endif %}


       {% endfor %}


                         </div>

       {% endif %}




</div>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-3.2.1.min.js"><\/script>')</script>

    <script type="text/javascript">
    $(document).ready(function(){

        

            {% for ex in lisexplo %}

            $("#block{{ex.id}}").on('click',Bloquear{{ex.id}});

        


       
      
       
       function Bloquear{{ex.id}}(){
       
        


   $.ajax({
        data:{'idexp':{{ex.id}}},
        url:'/block/',
        type:'get',
        success:function(json){
        var html = JSON.parse(json);
         var fl = html.fl;
         var ide = html.id;

            if(fl){
                
                $("#{{ex.id}}").removeClass('bloqueado');

                $("#candado{{ex.id}}").removeClass('fa-lock');
                $("#candado{{ex.id}}").addClass('fa-lock-open');

                console.log("Esta bloqueado " );
                
            }else{
                 $("#{{ex.id}}").addClass('bloqueado');

                $("#candado{{ex.id}}").removeClass('fa-lock-open');
                $("#candado{{ex.id}}").addClass('fa-lock');
                 
                console.log("Esta desbloqueado " );
            }
    

        }
    });
}

    {% endfor %}
    });

    </script>

</body>
</html>
