<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>menusito</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/fontawesome/fontawesome-all.min.css">
  </head>
  <body>
    <header id="header">
      <nav class="menu">
        <div class="logodiv">
          <a href="#"><img class="logo" src="imagenes/logoeres.png" alt=""></a>
          <a href="#" class="btn-menu" id="btn-menu"><i class="icono fa fa-1x fa-bars" aria-hidden="true"></i></a>
        </div>
        <div class="elements">
        <ul id="enlaces">
          <li id="li"><a href="#" id="efecto">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Cosita</a></li>
          <li><a href="#">Otros</a></li>
        </ul>
        </div>
      </nav>
    </header>






    <script src="js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="js/headroom.min.js"></script>
    <script src="js/menu.js"></script>
    <script type="text/javascript">

    $(document).ready(function(){

      $("#efecto").click(cambiar);

      function cambiar(){
        $("#li").addClass("escala");
        $(".escala").addClass("txt");
      }

      });

    </script>
  </body>
</html>
