<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>menusito</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
          {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/fontawesome/fontawesome-all.min.css" %}">
  </head>
  <body>
    <header id="header">
      <nav class="menu">
        <div class="logodiv">
          <a href="#"><img class="logo" src="{% static "imagenes/logoeres.png" %}" alt=""></a>
          <a href="#" class="btn-menu" id="btn-menu"><i class="icono fa fa-1x fa-bars" aria-hidden="true"></i></a>
        </div>
        <div class="elements">
        <ul id="enlaces">
          {% if not user.is_authenticated %}
          <li id="li"><a href="{% url "login" %}" id="efecto">Iniciar Sesion</a></li>
          {% else %}
          <li id="li"><a href="#" id="efecto"><strong>{{user.username}} </strong> </a></li>
          <li><a href="{% url "logOut" %}">Cerrar Session</a></li>
            <li><a href="{% url "perfil" %}">Pefil</a></li>
            <li><a href="{% url "exploblog" %}">Blog</a></li>
          {% endif %}


          <li><a href="#">ERESV</a></li>
          <li><a href="#">Programas</a></li>
          <li><a href="#">Contactos</a></li>
          <li><a href="#">Otros</a></li>
        </ul>
        </div>
      </nav>
    </header>






    <script src="{% static "js/jquery-3.2.1.min.js" %}" charset="utf-8" ></script>
    <script src="{% static "js/headroom.min.js" %}"></script>
    <script src="{% static "js/menu.js" %}"></script>
    <script type="text/javascript">

    $(document).ready(function(){

      $("#efecto").click(cambiar);

      function cambiar(){
        $("#li").addClass("escala");
        $(".escala").addClass("txt");
      }

      });

    </script>
  </body>
</html>
