<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
  </head>
  <body>
    <div class="contenedor">
      <h3>Explorador</h3>
      <div class="datosgnrls">
        <div class="fotoperfil" style="background-image: url(imagenes/fotoperfil.jpg)"></div>
        <div class="basic">
          <p>Ronaldo Gomez Bolaños</p>
        </div>
        <button class="edit" type="button" name="button">Editar</button>
      </div>
      <div class="contenido">
        <div class="">
          <nav>
            <a href="#">Información</a>
            <a href="#">Logros</a>
          </nav>
        </div>
      </div>
    </div>

    <script src="jquery-3.2.1.min.js" charset="utf-8"></script>
  </body>
</html>
