*{
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}


section{
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}

.parallax{
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-color:white;
    background-size: cover;
}



.padre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow:wrap;
    width: 90%;
    height: 300px;
    background-attachment:fixed;
}

.hijo1{
    width: auto;
    height: auto;
    color: white;
    margin: 0px 0px 0px 50px;

    animation-name: aparecer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
    animation-direction: normal;
}

@keyframes aparecer{
    from{

        opacity:0;
    }
    to{

        opacity:1;
    }
}

.hijo2{
    width: 300px;
    height: auto;
    color: white;
    margin: 0px 0px 0px 50px;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
    animation-direction: normal;
}

img.logoblanco{
    width: 300px;
    height: auto;
}

hr{
    height: 5px;
    background: #46cdcf;
  /*background: linear-gradient(180deg, #9face6 0%, #74ebd5 100%);
  background: -webkit-linear-gradient(180deg, #9face6 0%, #74ebd5 100%)!important;
  background: -o-linear-gradient(180deg, #9face6 0%, #74ebd5 100%)!important;
  background: -moz-linear-gradient(180deg, #9face6 0%, #74ebd5 100%)!important;
  background: linear-gradient(180deg, #9face6 0%, #74ebd5 100%)!important;*/
    border: none;
    border-radius: 15px;

}

h1{
    font-size: 50px;
    margin:0px;
    padding:0px;
    text-align: center;
    background: #46cdcf;
    /*background: -webkit-linear-gradient(#9face6,#74ebd5);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-family: 'Courgette', cursive;
    font-size: 100px;
    text-align: center;
    margin:0px;
    padding:0px;
    color: #9face6;
    background: #46cdcf;
    /*background: -webkit-linear-gradient(#9face6,#74ebd5);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iconos-div{
    padding: 40px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.iconos{
    font-size: 100px;
    color: #0081c6;
}

.iconos-texto{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
    padding: 5px;
    color: #0081c6;
}

.iconos-titulo{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    color: #0081c6;
}

p.texto{
    font-size: 20px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
}

.jesus{
    width: 200px;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.noseque{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
}

button.info-boton{
    background-color: #0081c6;
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 8px ;
    cursor: pointer;
}

.info-texto-boton{
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
    color:white;
}

.info-texto{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    color: #0081c6;
    font-weight: 500;
}

.info-texto1{
    margin: 0px;
    padding: 0px 0px 20px 0px;
    font-size: 20px;
    color: #0081c6;
}

.div-info-texto{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.logoazul{
    width: 100px;
    height: auto;
    padding: 10px 0px;
}

.power{
    padding:0px;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-weight: 200;
}

@media screen and (max-width: 1050px){

    img.logoblanco{
        width: 250px;
        height: auto;
    }

    h1{
        font-size: 40px;
        margin:0px;
        padding:0px;
    }

    h2{
        font-size: 80px;
        margin:0px;
        padding:0px;

    }
}

@media screen and (max-width: 923px){
    img.logoblanco{
        width: 200px;
        height: auto;
    }

    h1{
        font-size: 30px;
        margin:0px;
        padding:0px;
    }

    h2{
        font-size: 60px;
        margin:0px;
        padding:0px;

    }

    .iconos-div{
        padding: 40px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 130px;
    }

    .iconos{
        font-size: 70px;
        color: #7486eb;
    }

    .iconos-texto{
        font-weight: 300;
        font-size: 15px;
        margin: 0px;
        padding: 5px;
    }

    .iconos-titulo{
        font-weight: 500;
        font-size: 15px;
        margin: 0px;
        padding: 10px 0px 0px 0px;
    }

    #seccion2{
      height: auto;
    }

    p.texto{
        font-size: 20px;
        color: white;
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-weight: bold;
    }

    .jesus{
        width: 150px;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 803px){

.padre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow:wrap;
    width: 80%;
    height: 300px;
    background-attachment:fixed;
}

.hijo1{
    width: auto;
    height: auto;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; ;

}

.hijo2{
    width: 200px;
    height: auto;
    color: white;
    margin: 0px 0px 0px 0px;

}

img.logoblanco{
    width: 200px;
    height: auto;
}

hr{
    height: 5px;
}

h1{
    font-size: 30px;
    margin:0px;
    padding:0px;
    text-align: center;
}

h2{
    font-family: 'Courgette', cursive;
    font-size: 60px;
    text-align: center;
    margin:0px;
    padding:0px;

}
p.texto{
    font-size: 15px;
    padding: 0px 5px;
    margin: 0px;
}

}

@media screen and (max-width: 654px){

    .padre{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 80%;
        height: auto;
        background-attachment:fixed;
    }

    .hijo1{
        width: auto;
        height: auto;
        color: white;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px; ;

    }

    .hijo2{
        width: 150px;
        height: auto;
        color: white;
        margin: 0px 0px 0px 0px;

    }

    img.logoblanco{
        width: 150px;
        height: auto;
    }

    hr{
        height: 5px;
    }

    h1{
        font-size: 30px;
        margin:0px;
        padding:0px;
        text-align: center;
    }

    h2{
        font-family: 'Courgette', cursive;
        font-size: 60px;
        text-align: center;
        margin:0px;
        padding:0px;

    }

    .iconos{
        font-size: 50px;
        color: #7486eb;
    }

    .iconos-texto{
        font-weight: 300;
        font-size: 12px;
        margin: 0px;
        padding: 5px;
    }

    .iconos-titulo{
        font-weight: 500;
        font-size: 15px;
        margin: 0px;
        padding: 10px 0px 0px 0px;
    }

    #seccion2{
      height: auto;
      flex-direction: column;
      align-items: center;
    }

    .iconos-div{
        padding: 10px;
        margin: 0px;

        width: 300px;
    }

    .jesus{
        width: 120px;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    button.info-boton{
        width: 150px;
        padding: 8px ;
    }

    .info-texto-boton{
        margin: 5px;
        font-size: 12px;
    }

    .info-texto{
        margin: 0px;
        padding: 0px;
        font-size: 20px;
        text-align: center;
    }

    .info-texto1{
        margin: 0px;
        padding: 0px 0px 20px 0px;
        font-size: 15px;
        text-align: center;
    }

    }

    @media screen and (max-width: 410px){

        .padre{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            width: 80%;
            height: auto;
            background-attachment:fixed;
        }

        .hijo1{
            width: auto;
            height: auto;
            color: white;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px; ;

        }

        .hijo2{
            width: 140px;
            height: auto;
            color: white;
            margin: 0px 0px 0px 0px;

        }

        img.logoblanco{
            width: 140px;
            height: auto;
        }

        h1{
            font-size: 20px;
            margin:0px;
            padding:0px;
            text-align: center;
        }

        h2{
            font-family: 'Courgette', cursive;
            font-size: 40px;
            text-align: center;
            margin:0px;
            padding:0px;
        }

        .iconos{
            font-size: 50px;
            color: #7486eb;
        }

        .iconos-texto{
            font-weight: 300;
            font-size: 12px;
            margin: 0px;
            padding: 5px;
        }

        .iconos-titulo{
            font-weight: 500;
            font-size: 15px;
            margin: 0px;
            padding: 10px 0px 0px 0px;
        }

        #seccion2{
          height: auto;
          flex-direction: column;
          align-items: center;
        }

        .iconos-div{
            padding: 5px;
            margin: 0px;
            width: 250px;
        }

        button.info-boton{
            width: 110px;
            padding: 8px ;
        }

        .info-texto{
            margin: 0px;
            padding: 0px;
            font-size: 15px;
            text-align: center;
        }

        .info-texto1{
            margin: 0px;
            padding: 0px 0px 20px 0px;
            font-size: 12px;
            text-align: center;
        }

        .logoazul{
            width: 80px;
            height: auto;
            padding: 00px 0px;
        }


}
