*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.textbtn{
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
    color: white;
  }

  .guardar{
    background: #0081c6;
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 8px ;
    cursor: pointer;
    margin: 10px 0px;
    -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  }

  .guardar:hover{
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

.contenedor-tarjeta::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: rgb(0,0,0,0.2);
    border-radius: 5px;

  }

.contenedor-tarjeta::-webkit-scrollbar-thumb{
    background: rgb(70,205,207,1);
    border-radius: 5px;
  }

.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    width: 95%;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.tarjeta-navegante{
    background-color:rgb(235, 177, 19, .4);
}

.tarjeta-pionero{
    background-color:rgb(241, 35, 20, .4);
}

.tarjeta-seguidor{
    background-color:rgb(70,205,207,.4);
}

.tarjeta-explorador{
    background-color:rgb(78,149,37,.4);
}

.tarjeta-lider{
    background-color:rgba(5, 111, 168, 0.4);
}

.div-foto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.div-datos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}

.nombre{
    margin: 5px 0px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.otros{
    margin: 5px 0px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.div-grupo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.div-botones{
  display: flex;
}


.boton-suspender{
    background: #4E9525;
    color: white;
    border-radius: 5px;
    border: none;
    width: auto;
    padding: 8px ;
    cursor: pointer;
    margin: 0px 4px;
    font-size: 16px;
    -webkit-transition: all 3.0s ease;
    -moz-transition: all .3.0s ease;
    -ms-transition: all .3.0s ease;
    -o-transition: all .3.0s ease;
    transition: all .3.0s ease;
  }

.boton-editar{
    color: white;
    background: #0081c6;
    border-radius: 5px;
    border: none;
    width: auto;
    padding: 8px ;
    cursor: pointer;
    margin: 0px 4px;
    font-size: 16px;
}

.foto-perfil{
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 110% auto;
    margin-right: 10px;
    border: solid 3px white;
}

.foto-grupo{
    width: 50px;
}

.div-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    /*background: wheat;*/
}

.buscador{
    width: 90%;
    height: auto;
    padding: 8px 4px;
    outline: none;
    border: none;
    font-size: 14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.boton-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0081c6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    padding: 8px;
    cursor: pointer;
    margin: 0px 0px;
    width: 10%;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.bloqueado{
  filter: grayscale(90%);
}

/* comienzan medias para los botones de editar y suspender*/

@media all and (max-width: 550px){

  .div-botones{
    display: flex;
    flex-direction: column;
  }

  .boton-suspender{
      padding: 4px ;
      margin: 2px 0px;
      font-size: 13px;
    }

  .boton-editar{
      padding: 4px ;
      margin: 2px 0px;
      font-size: 13px;
  }

}

@media all and (max-width: 450px){

  .div-botones{
    display: flex;
    flex-direction: column;
  }

  .boton-suspender{
      padding: 3px ;
      margin: 2px 0px;
      font-size: 12px;
    }

  .boton-editar{
      padding: 3px ;
      margin: 2px 0px;
      font-size: 12px;
  }

}

/* terminan medias para los botones de editar y suspender*/

@media all and (max-width: 1020px){

    .buscador{
        width: 85%;
    }

    .boton-buscador{
        width: 15%;
    }


@media all and (max-width: 850px){

    .contenedor-tarjeta{
        width: 90%;
        height: 450px;
        overflow-y: scroll;
    }

    .div-buscador{
        width: 90%;
    }

}

@media all and (max-width: 750px){

    .contenedor-tarjeta{
        width: 95%;
        height: 450px;
        overflow-y: scroll;
    }

    .foto-perfil{
        width: 100px;
        height: 100px;
    }

    .div-buscador{
        width: 95%;
    }

}

@media all and (max-width: 650px){


    .div-foto{
        width: 20%;
    }

    .div-datos{
        width: 70%;
    }


    .div-grupo{
        width: 10%;
        height: 100%;
    }

    .nombre{
        margin: 5px 0px;
        font-size: 13px;
    }

    .otros{
        margin: 5px 0px;
        font-size: 13px;
    }

    .foto-perfil{
        width: 80px;
        height: 80px;
    }

    .foto-grupo{
        width: 50px;
    }

    .buscador{
        width: 80%;
    }

    .boton-buscador{
        padding: 9px;
        width: 20%;
    }

    .boton-buscador p{
        display: none;
    }

}

@media all and (max-width: 550px){

    .contenedor-tarjeta{
        height: 550px;
        overflow-y: scroll;
        margin: 10px 0px;
    }

    .tarjeta{
        width: 90%;
    }

    .div-foto{
        width: 20%;
    }

    .div-datos{
        width: 75%;
    }


    .div-grupo{
        width: 5%;
        height: 100%;
    }

    .nombre{
        margin: 5px 0px;
        font-size: 12px;
    }

    .otros{
        margin: 5px 0px;
        font-size: 12px;
    }

    .foto-perfil{
        width: 70px;
        height: 70px;
        border: solid 3px white;
    }

    .foto-grupo{
        width: 30px;
    }


}


@media all and (max-width: 500px){

  .foto-perfil{
      width: 65px;
      height: 65px;
      border: solid 3px white;
  }
}


@media all and (max-width: 470px){

  .foto-perfil{
      width: 60px;
      height: 60px;
      border: solid 2px white;
  }

}

@media all and (max-width: 450px){

    .div-foto{
        width: 25%;
    }

    .div-datos{
        width: 70%;
    }


    .div-grupo{
        width: 5%;
        height: 100%;
    }

    .foto-perfil{
        width: 60px;
        height: 60px;
        border: solid 2px white;
    }

    .foto-grupo{
        width: 30px;
    }


}

@media all and (max-width: 350px){

    .nombre{
        margin: 5px 0px;
        font-size: 11px;
    }

    .otros{
        margin: 5px 0px;
        font-size: 11px;
    }

    .foto-perfil{
        width: 50px;
        height: 50px;
        border: solid 2px white;
    }

    .foto-grupo{
        width: 30px;
    }



}

@media all and (max-width: 280px){

  .foto-perfil{
      width: 40px;
      height: 40px;
      border: solid 2px white;
  }

}
