*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}


.todo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.div-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  height: auto;

}

.div-perfil{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  height: auto;

}

.div-basicos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  border-radius: 5px;
  margin: 5px 0px;
}

.foto-perfil{
  display: flex;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 110% auto;
  margin: 10px 0px;
  border: 4px solid white;

}


.foto-nombre p{
  padding-bottom:10px;
}

.datos{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  width: 100%;
}

.cosa{
  color: #0081c6;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 1px #000000;
  margin: 0px 4px;
}

.cosita{
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 1px #000000;
}



.logros{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 20px 0px;
  overflow-y: scroll;

}

.logros::-webkit-scrollbar{
  width: 4px;
  background: rgb(0,0,0,0.2);
  border-radius: 5px;

}

.logros::-webkit-scrollbar-thumb{
  background: rgb(70,205,207,1);
  border-radius: 5px;
}

.logros .premios img{
  width: 100px;
}

.logros .premios{
  width: 100px;
  margin: 5px 5px;
}

.imagen-departamento img{
  width: 120px;
  height: auto;
}

hr{
  width: 90%;
  height: 2px;
  background-color: #46cdcf;
  border: 0px;
  border-radius: 5px;
}

.no-ganado{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}

@media all and (max-width: 800px){

  .div-menu{
    width: 100%;
    height: auto;

  }

  .div-perfil{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: auto;
  }

  .div-datos{
    background-color: rgb(0, 0, 0, 0.5);
    background-image:none;

  }
  .div-logros{
    background-color: rgba(0, 0, 0, 0.5);
    background-image:none;
  }

  .cosa{
    color: #0081c6;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px #000000;
    margin: 0px 4px;
  }

  .cosita{
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0.5px 0.5px 1px #000000;
  }

  }

  @media all and (max-width: 600px){

  .div-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .div-basicos{
    width: 95%;
    height: auto;
  }


.div-logros{
  width: 95%;
  height: auto;
  border-radius: 5px;
  margin: 5px 0px;
}

.div-datos{
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
  background-image:none;

}

.div-logros{
  background-color: rgba(0, 0, 0, 0.5);
  background-image:none;
}

  }

  @media all and (max-width: 400px){

    .cosa{
      color: #0081c6;
      font-size: 13px;
      font-weight: 500;
      text-shadow: 0.5px 0.5px 1px #000000;
      margin: 0px 4px;
    }

    .cosita{
      color: white;
      font-size: 13px;
      font-weight: 500;
      text-shadow: 0.5px 0.5px 1px #000000;
    }
    .foto-perfil{
      height: 100px;
      width: 100px;
    }

    .foto-nombre {
      font-weight: 500;
    }

    .logros .premios img{
      width: 80px;
    }

    .logros .premios{
      width: 80px;
      margin: 5px 5px;
    }

  }
